.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}

.navbar__logo {
  padding-top: 5vh;
  padding-left: 20vh;
  width: 10%;
  height: 100%;
}

.navbar__links {
  padding-right: 20vh;
}

Button {
  margin-top: 25px;
}
