.parcours {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 130vh;
  background-image: url(/chemin.png);
  background-size: 55vw;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 9vh;
  font-family: "Kantumruy Pro";
  color: var(--color-text);
  overflow-x: hidden;
}

.parcours h4 {
  margin-top: 1vw;
}

.parcours__current {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-bottom: 2.3vw;
}

.parcours__current img {
  height: 20vh;
  width: auto;
  object-fit: contain;
}

.parcours__current__texte {
  display: flex;
  font-family: "Inter";
  flex-direction: column;
  align-items: flex-end;
}

.parcours__current__texte {
  font-size: 1.5vw;
}

.parcours__current__texte__infos {
  font-size: 1vw;
  line-height: 2vw;
}

.parcours__current__texte span {
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .parcours {
    background-size: 100vh;
    margin-top: 100vh;
  }

  .parcours__current__texte h4 {
    font-size: 0.8rem;
  }

  .parcours__current__texte__infos {
    font-size: 0.6rem;
    line-height: 5vw;
  }

  .parcours__current__texte span {
    font-size: 0.5rem;
  }

  .parcours__current img {
    display: none;
  }

  .parcours__current {
    margin-bottom: 28vw;
  }

  .parcours__right {
    margin-left: -30vw;
  }

  .parcours h1 {
    margin-top: 0px;
    margin-bottom: 10vh;
  }
  .parcours h4 {
    margin-top: 0px;
    margin-bottom: 10vh;
  }
}
