.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background-position: center;
  padding-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  overflow: hidden;
}

.hero__texte {
  display: flex;
  flex-direction: column;
  padding-top: min(30vh, 20%);
  padding-left: min(20vh, 10%);
  width: 40%;
  height: 100%;
  font-family: "Kantumruy Pro";
  color: var(--color-text);
}

.hero__logo {
  width: min(70vw, 60%);
  height: 100%;
}

h2 {
  font-family: "Josefin Slab";
  color: #ffff;
  line-height: 3.5vh;
  font-weight: 600;
}

.hero__contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 7vh;
  gap: 2vh;
  font-family: "K2D";
}

.hero__contact img {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .hero__logo {
    display: none;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0vh;
  }

  .hero__texte {
    width: 100%;
    padding-left: 10vw;
    padding-top: 50vh;
    padding-bottom: 10vh;
    font-size: 10vw;
  }

  .hero__texte h1 {
    font-size: 10vw;
  }

  .hero__texte h2 {
    font-size: 5.5vw;
    line-height: 6vh;
    font-weight: 300;
    margin-top: 1vh;
  }

  .hero__contact img {
    width: 10.5vw;
    height: 10.5vw;
    border-radius: 50%;
    object-fit: cover;
  }

  .hero__contact {
    align-items: center;
  }

  .hero__contact h2 {
    font-size: 4vw;
  }
}
