.contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 40px;
  font-family: "Kantumruy Pro";
  color: var(--color-text);
  margin-top: -20vh;
}

.contact p {
  font-size: 1.2rem;
  line-height: 4vh;
  max-width: 45vw;
  margin: 5vh auto;
  margin-bottom: 2vh;
}

.contact a {
  color: #dbc072;
  text-decoration: none;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.email-button {
  background-color: #dbc072;
  border: none;
  padding: 1.4vh 1.5vw;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 5vh;
  margin-bottom: 15vh;
  font-family: "kantumruy pro";
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 0.2vw;
  background-color: #150d17;
  border-radius: 10vh;
  height: 4vh;
  width: 30vw;
}

.icon-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.icon-link img {
  width: 2vw;
  height: 2vw;
  border-radius: 20%;
  object-fit: cover;
  padding-left: 0.3vw;
  padding-right: 0.3vw;
}

footer {
  font-size: 0.8rem;
  margin-top: 20px;
}

.contact__circle-vert {
  position: absolute;
  padding: 0px;
  top: 400vh;
  left: 42.2vw;
  width: 23px;
  height: 23px;
  background: #22c55e;
  border-radius: 50%;
  z-index: 2;
}
